.left {
    display: flex;
    flex-direction: row;
}

.leftbar {
    margin: 0.3rem;
    position: relative;
    background-color: white;
    border-radius: 24px;
    height: 10rem;
    text-align: center;
    width: 35%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
    .left {
        flex-direction: column;
    }

    .leftbar {
        width: 100%;
        margin: 0.3rem;
    }
}